{% block javascript %}

    {% javascripts
        '@APIBundle/Resources/js/vis.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets
        '@APIBundle/Resources/css/vis.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="visualization"></div>
<script type="text/javascript">
    var i = 1;
    ++i;
    // DOM element where the Timeline will be attached
    var container = document.getElementById('visualization');

    var groups = new vis.DataSet();
    groups.add({
        id: 1,
        content: 'Shakes',
        options: {
            drawPoints: false,//{ style: 'circle' },
            catmullRom: false
        }
    });
    groups.add({
        id: 2,
        content: 'Goals',
        options: {
            drawPoints: false,//{ style: 'circle' },
            catmullRom: false
        }
    });

    // Create a DataSet (allows two way data-binding)
    var plotData = [];

    {% for key,shake in shakes %}
        plotData.push({x: '{{ key }}', y:{{ shake }}, group: 1 });
    {% endfor %}

    {% for key,goal in goals %}
    plotData.push({x: '{{ key }}', y:{{ goal }}, group: 2 });
    {% endfor %}

    var dataset = new vis.DataSet(plotData);
    var options = {
        start: '2014-10-03',
        end: '2014-10-04'
    };
    var graph2d = new vis.Graph2d(container, dataset, groups, options);

</script>

{% endblock %}
{#{{ dump(route) }}#}