{% extends "::base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Welcome to the Admin page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <br>

    {% for param in parameters %}
        <div>
            <b>{{ param['parameter_name'] }}</b> :
            <span class="edit" id={{ param['parameter_name'] }}>{{ param['parameter_value'] }}</span>
            <span style="padding-left:5em"><b>last changed</b>: {{ param['time_changed'] }}</span>
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.edit').editable('{{ path('admin_post') }}', {
                indicator : 'Saving...',
                tooltip   : 'Click to edit...'
            });
            $('.edit_area').editable('{{ path('admin_post') }}', {
                type      : 'textarea',
                cancel    : 'Cancel',
                submit    : 'OK',
                tooltip   : 'Click to edit...'
            });
        });
    </script>

{% endblock %}