{% extends 'KDSMContentBundle::main.base.html.twig' %}
{% block content %}
    {% block javascripts %}
         {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(QueueList, 8000);
            function QueueList() {
                $.ajax({
                    type: "post",
                    url: "{{ path('kdsm_queue', {'method':'list', 'queueId':null}) }}",
                    success: function (response_json) {
                        console.log(response_json);
                        $(".queue-container .dinamically-added").remove();
                        for(var i = 0; i < response_json.length; i++) {
                            var queueElement = $(".queue-game.default-queue-element").clone().removeClass("hidden").removeClass("default-queue-element").addClass("dinamically-added");
                            //get users

                            var whiteTeam = "";
                            if(response_json[i].users[0] != undefined) {
                                whiteTeam += response_json[i].users[0];
                            }
                            if(response_json[i].users[1] != undefined) {
                                whiteTeam += " & ";
                                whiteTeam += response_json[i].users[1];
                            }

                            var blackTeam = "";
                            if(response_json[i].users[2] != undefined) {
                                blackTeam += response_json[i].users[2];
                            }
                            if(response_json[i].users[3] != undefined) {
                                blackTeam += " & ";
                                blackTeam += response_json[i].users[3];
                            }

                            queueElement.find(".team-white .players-names").text(whiteTeam);
                            queueElement.find(".team-black .players-names").text(blackTeam);
                            $(".queue-container").prepend(queueElement);
                        }
                    }
                });
            }
        });
    </script>
    {% endblock %}
   <div class="queue-container">
       <div class="row queue-game default-queue-element hidden">
            <div class="col-sm-5 team-white">
                <div class="row">
                   <img class="col-sm-3 img-responsive first" src="{{ asset('bundles/kdsmcontent/images/empty-user.jpg') }}" alt=""/>
                   <span class="col-sm-6 text-center players-names"></span>
                   <img class="col-sm-3 img-responsive second" src="{{ asset('bundles/kdsmcontent/images/empty-user.jpg') }}" alt=""/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                   <p>VS</p>
                </div>
            </div>
            <div class="col-sm-5 team-black">
                <div class="row">
                   <img class="col-sm-3 img-responsive first" src="{{ asset('bundles/kdsmcontent/images/empty-user.jpg') }}" alt=""/>
                   <span class="col-sm-6 text-center players-names"></span>
                   <img class="col-sm-3 img-responsive second" src="{{ asset('bundles/kdsmcontent/images/empty-user.jpg') }}" alt=""/>
                </div>
            </div>
       </div>
       <button class="btn btn-success btn-add-to-queue">Stoti į eilę</button>
   </div>
{% endblock %}