{% block queue %}
    {% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(QueueList, 8000);
            function QueueList() {
                $.ajax({
                    type: "post",
                    url: "{{ path('kdsm_queue', {'method':'list', 'queueId':null}) }}",
                    success: function (response_json) {
                        console.log(response_json);
                        //remove all queue elements of container
                        $(".queue-container .dinamically-added").remove();

                        //show all queue elements from received json
                        for(var i = 0; i < response_json.length; i++) {
                            var queueElement = $(".queue-game.default-queue-element").clone().removeClass("hidden").removeClass("default-queue-element").addClass("dinamically-added");

                            //set queue id
                            queueElement.attr("id", response_json[i].id);

                            //if status is creating, add class to change element design
                            if(response_json[i].status == 'creatingGame') {
                                queueElement.addClass("creatingGame");
                            }

                            //if I am invited to the game, add class to change element design
                            if(response_json[i].queueRights == 'queueMember') {
                                queueElement.addClass("gameMember");
                            }

                            //if not queue element owner, remove control possibility
                            if (response_json[i].queueRights != "queueOwner") {
                                queueElement.find("div.queue-element-info").remove();
                            }


                            //get queue element users
                            for(var x = 0; x < response_json[i].users.length; x++) {
                                //if user is defined add user name to queue element
                                if (response_json[i].users[x] != undefined) {
                                    queueElement.find(".row.player-" + x + " .player-name").text(response_json[i].users[x].userName);
                                }

                                //if user photo is defined add user photo to queue element
                                if (response_json[i].users[x].userStatus == "invitePending") {
                                    queueElement.find(".row.player-" + x + " .player-photo").attr("src", "{{ asset('bundles/kdsmcontent/images/ajax-spinner.gif') }}");
                                }
                                //if defined user photo, show it
                                else if (response_json[i].users[x].userPicturePath != undefined) {
                                    queueElement.find(".row.player-" + x + " .player-photo").attr("src", "{{ asset('bundles/kdsmcontent/images/user-photo.png') }}");
                                }
                            }

                            $(".default-queue-element").after(queueElement);
                        }
                    }
                });
            }
        });
    </script>
        <script type="text/javascript">
            $(document).ready(function() {
                //function to read JSON from url
                function readJSON(file) {
                    var request = new XMLHttpRequest();
                    request.open('GET', file, false);
                    request.send(null);
                    if (request.status == 200)
                        return request.responseText;
                }

                //queue controll function
                function QueueControl(method, param) {
                    var queueControlSource = $('.queue-control').clone()
                    var availableTags = JSON.parse(readJSON("{{ path('kdsm_queue', {'method':'lfg', 'queueId':null}) }}"));
                    var selectedUsersIds = [];

                    $("#search-users").autocomplete({
                        source: availableTags,
                        create: function( event, ui ) {
                            $(this).autocomplete("widget")
                                    .appendTo("#results")
                                    .css("position", "static");
                        },
                        open: function() {
                            $(this).autocomplete("widget")
                                    .appendTo("#results")
                                    .css("position", "static");
                        },
                        select: function(event, ui) {
                            alert(selectedUsersIds);
                            //when user is selected
                            if(selectedUsersIds.length < 3) {
                                //get selected user id and push it to selected users array
                                var selectedUserId = ui.item.id;
                                selectedUsersIds.push(selectedUserId);

                                //get selected user html and add it to selected container
                                var selectedUserRowHTML = $(".found-users").find("li#user-"+selectedUserId).clone();
                                $("li#user-"+selectedUserId).hide();
                                $("#log").children("ul.log-list").prepend(selectedUserRowHTML);
                            }

                            //if at least one user is selected, add button to save the queue
                            if(selectedUsersIds.length == 1) {
                                $("button#save-queue-element").removeClass("hidden");
                            }
                        }
                    })
                            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                        return $("<li id='user-"+ item.id +"'>")
                                .append(item.value+" "+item.id)
                                .appendTo( ul );
                    };

                    //when needs to diselect user
                    $("#log").on("click", "li", function() {
                        var removedRowId = $(this).attr("id");
                        var removedRowUserId = removedRowId.split("-")[1];
                        selectedUsersIds.splice(selectedUsersIds.indexOf(removedRowUserId), 1);
                        $(this).remove();
                        //get back user to list
                        $(".sidebar").find("li#"+removedRowId).show();

                        if(selectedUsersIds.length < 1) {
                            $("button#save-queue-element").addClass("hidden");
                        }
                        alert(selectedUsersIds);
                    });

                    $("button#save-queue-element").click(function() {
                        var path = "{{ path('kdsm_queue', {'method':'HereMethodName', 'queueId':'HereQueueId'}) }}";
                        path = path.replace("HereMethodName", method);
                        path = path.replace("HereQueueId", param);

                        $.ajax({
                            type: "post",
                            url: path,
                            data: {usersIds: selectedUsersIds},
                            success: function (response) {
                                $('.queue-control').replaceWith(queueControlSource);
                            }
                        });
                    });
                }

                //Open queue
                $('button.btn-add-to-queue').click(function() {
                    $('.queue-control').show( "slide" );
                    QueueControl('create', null);
                });

                //editing queue element
                $("div.queue-container").on("click", "div.edit-queue-element", function() {
                    //add already selected users to queue control in editing
                    $('.queue-control').find("ul.log-list").append("<li id='user-6' class='ui-menu-item ui-state-focus' tabindex='-1'>Justas 6</li>");

                    var queueElementId =  $("div.queue-game").has($(this)).attr("id");

                    //call queue control function
                    QueueControl("joinUsers", queueElementId);

                    $('.queue-control').show( "slide" );
                    {#$.ajax({#}
                        {#type: "post",#}
                        {#url: "{{ path('kdsm_queue', {'method':'getSingleQueue'}) }}/"+queueElementId,#}
                        {#success: function (response) {#}
                            {#console.log(response);#}
                            {#alert("sent");#}
                        {#}#}
                    {#});#}
                });

                //removing queue element
                $("div.queue-container").on("click", "div.remove-queue-element", function() {
                    {#$.ajax({#}
                        {#type: "post",#}
                        {#url: "{{ path('kdsm_queue', {'method':'remove'}) }}",#}
                        {#success: function (response) {#}
                            {#console.log(response);#}
                            {#alert("sent");#}
                        {#}#}
                    {#});#}
                });
            });
        </script>
    {% endblock %}
   <div class="queue-container">
       <div class="row queue-game default-queue-element hidden">
           <div class="row queue-element-users">
               {%  for i in 0..3 %}
                <div class="col-sm-3">
                    <div class="row player-{{ i }}">
                       <img class="col-sm-4 img-responsive player-photo" src="{{ asset('bundles/kdsmcontent/images/add_user.png') }}" alt=""/>
                       <span class="col-sm-8 text-center player-name"></span>
                    </div>
                </div>
               {% endfor %}
           </div>
           <div class="row queue-element-info">
               <div class="col-sm-2 queue-actions pull-right">
                   <div class="row">
                       <div class="col-sm-6 action edit-queue-element">
                           <i class="fa fa-pencil-square-o"></i>
                       </div>
                       <div class="col-sm-6 action remove-queue-element">
                           <i class="fa fa-times"></i>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <button class="btn btn-success btn-add-to-queue">Stoti į eilę</button>
   </div>
{% endblock %}