{% extends 'KDSMContentBundle::main.base.html.twig' %}
{% block content %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
        <div class="row table-free black-bg hidden">
            <p class="col-xs-10 col-sm-10">Stalas šiuo metu laisvas</p>
        </div>
        <div class="row result-box black-bg hidden">
                <div class="col-xs-3 col-sm-3">
                    <div class="row team-white">
                        <div class="first user-photo pull-left">
                            <img class="img-responsive" src="{{ asset('bundles/kdsmcontent/images/empty-user.jpg') }}" alt="Logo"/>
                        </div>
                        <div class="first user-photo pull-right">
                            <img class="img-responsive" src="{{ asset('bundles/kdsmcontent/images/empty-user.jpg') }}" alt="Logo"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="row">
                        <span class="result white">0</span>
                        <span class="separator result">:</span>
                        <span class="result black">0</span>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="row team-black">
                        <div class="first user-photo pull-right">
                            <img class="img-responsive" src="{{ asset('bundles/kdsmcontent/images/empty-user.jpg') }}" alt="Logo"/>
                        </div>
                        <div class="second user-photo pull-left">
                            <img class="img-responsive" src="{{ asset('bundles/kdsmcontent/images/empty-user.jpg') }}" alt="Logo"/>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row content-heading">
            <h4>Next games in the queue</h4>
        </div>
        {% block queue %}
            {% include('KDSMContentBundle::Includes/queue.html.twig') %}
        {% endblock %}

{% endblock %}