{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kdsmcontent/css/main.css') }}" />
    {% stylesheets 'bundles/kdsmcontent/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# Fonts #}
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300, 700, 900&amp;subset=latin,latin-ext">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% if not app.user %}
        {% block header %}
            <header class="row">
                <div class="container">
                    <img class="col-sm-3 logo" src="{{ asset('bundles/kdsmcontent/images/logotype.png') }}" alt=""/>
                    <div class="col-sm-7">
                        <div class="nav row">

                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% endif %}
        <div class="row">
            {% block sidebar %}
                {% if app.user %}
                     {{ include('KDSMContentBundle::Includes/sidebar.html.twig') }}
                {% endif %}
            {% endblock %}
            <main class="main-content {% if not app.user %} container {% else %} col-sm-8 after-fixed-sidebar {% endif %}">
                {% block content %}

                {% endblock %}
            </main>
            {% block rightSidebar %}
                {% if app.user %}
                    <aside class="col-sm-2 sidebar right queue-control">
                        <div class="ui-widget search-box">
                            <i class="search-users-icon glyphicon glyphicon-search"></i>
                            <input id="search-users" placeholder="Search...">
                        </div>
                        <div id="results" class="found-users"></div>
                        <div class="ui-widget selected-users">
                            <h5>Pasirinkti žaidėjai:</h5>
                            <div id="log" class="ui-widget-content">
                                <ul class="log-list">

                                </ul>
                            </div>
                        </div>
                    </aside>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {# jQuery include #}
    {% javascripts '@KDSMContentBundle/Resources/public/jquery.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {# Others js files includes#}
    {% javascripts '@KDSMContentBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            //function to read JSON ffrom url
            function readJSON(file) {
                var request = new XMLHttpRequest();
                request.open('GET', file, false);
                request.send(null);
                if (request.status == 200)
                    return request.responseText;
            };

            //Open queue
            $('button.btn-add-to-queue').click(function() {
                $('.queue-control').show( "slide" );

                var availableTags = JSON.parse(readJSON("{{ path('kdsm_queue', {'method':'lfg', 'queueId':null}) }}"));
                var selectedUsersIds = [];
                var queueElementId;    //here saving added new queue element id

                $("#search-users").autocomplete({
                    source: availableTags,
                    create: function( event, ui ) {
                        $(this).autocomplete("widget")
                                .appendTo("#results")
                                .css("position", "static");
                    },
                    open: function() {
                        $(this).autocomplete("widget")
                                .appendTo("#results")
                                .css("position", "static");
                    },
                    select: function(event, ui) {
                        //when user is selected
                        if(selectedUsersIds.length < 3) {
                            //get selected user id and push it to selected users array
                            var selectedUserId = ui.item.id;
                            selectedUsersIds.push(selectedUserId);

                            //get selected user html and add it to selected container
                            var selectedUserRowHTML = $(".found-users").find("li#user-"+selectedUserId).clone();
                            $("li#user-"+selectedUserId).hide();
                            $("#log").children("ul.log-list").prepend(selectedUserRowHTML);
                        }

                        //if at least one user is selected, add button to save the queue
                        if(selectedUsersIds.length == 1) {
                            var saveButtonHtml = '<button id="save-queue-element" class="btn btn-xs btn-success">Išsaugoti</button>';
                            $("#log").append(saveButtonHtml);
                            //send request to create new empty row element
                            $.ajax({
                                type: "post",
                                url: "{{ path('kdsm_queue', {'method':'create', 'queueId':null}) }}",
                                success: function (response) {
                                    queueElementId = response.id;
                                }
                            });
                        }
                    }
                })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                    return $("<li id='user-"+ item.id +"'>")
                            .append(item.value+" "+item.id)
                            .appendTo( ul );
                };

                //when needs to diselect user
                $("#log").on("click", "li", function() {
                    var removedRowId = $(this).attr("id");
                    var removedRowUserId = removedRowId.split("-")[1];
                    selectedUsersIds.splice(selectedUsersIds.indexOf(removedRowUserId), 1);
                    $(this).remove();
                    //get back user to list
                    $(".sidebar").find("li#"+removedRowId).show();

                    if(selectedUsersIds.length < 1) {
                        $("#save-queue-element").remove();
                    }
                });

                $("#log").on("click", "button#save-queue-element", function() {
                    if(queueElementId != undefined) {
                        alert("{{ path('kdsm_queue', {'method':'create'}) }}/" + queueElementId);
                        $.ajax({
                            type: "post",
                            url: "{{ path('kdsm_queue', {'method':'create'}) }}/" + queueElementId,
                            data: {usersIds: selectedUsersIds},
                            success: function (response) {
                                console.log(response);
                                $('.queue-control').hide("slide");
                            }
                        });
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(TableData, 2000);
            function TableData() {
                $.ajax({
                    type: "post",
                    url: "{{ path('kdsm_live_game') }}",
                    success: function (response_json) {
                        var response = (response_json);
                        if (response.status == 'free') {
                            $("div.result-box").addClass("hidden");
                            $("div.table-free").removeClass("hidden");
                        }
                        else if (response.status == 'busy') {
                            $("span.result.white").text(response.scoreWhite);
                            $("span.result.black").text(response.scoreBlack);
                            $("div.result-box").removeClass("hidden");
                            $("div.table-free").addClass("hidden");
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}