{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kdsmcontent/css/bootstrap.css') }}" />
    {% stylesheets 'bundles/kdsmcontent/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# Fonts #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kdsmcontent/css/font-awesome.css') }}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300, 700, 900&amp;subset=latin,latin-ext">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% if not app.user %}
        {% block header %}
            <header class="row">
                <div class="container">
                    <img class="col-sm-3 logo" src="{{ asset('bundles/kdsmcontent/images/logotype.png') }}" alt=""/>
                    <div class="col-sm-7">
                        <div class="nav row">

                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% endif %}
        <div class="row">
            {% block sidebar %}
                {% if app.user %}
                     {{ include('KDSMContentBundle::Includes/sidebar.html.twig') }}
                {% endif %}
            {% endblock %}
            <main class="main-content {% if not app.user %} container {% else %} col-sm-8 after-fixed-sidebar {% endif %}">
                {% block content %}

                {% endblock %}
            </main>
            {% block rightSidebar %}
                {% if app.user %}
                    <aside class="col-sm-2 sidebar right">
                        <div class="ui-widget">
                            <label for="tags">Tags: </label>
                            <input id="tags">
                        </div>
                        <div id="results" style="border-width: 2px; border-style: dotted; border-color: red;height: 50%;
  margin: 10px 0px; ">
                            I would like to see the results here
                        </div>
                        <div class="ui-widget" style="margin-top:2em; font-family:Arial">
                            Result:
                            <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
                        </div>
                    </aside>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {# jQuery include#}
    {% javascripts '@KDSMContentBundle/Resources/public/jquery.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {# Others js files includes#}
    {% javascripts '@KDSMContentBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            function log( message ) {
                $( "<div>" ).text( message ).prependTo( "#log" );
                $( "#log" ).scrollTop( 0 );
            }

            $( "#tags" ).autocomplete({
                autoFocus: true,
                source: availableTags,
                create: function( event, ui ) {
                    $(this).autocomplete("widget")
                            .appendTo("#results")
                            .css("position", "static");
                },
                open: function() {
                    $(this).autocomplete("widget")
                            .appendTo("#results")
                            .css("position", "static");
                },
                select: function( event, ui ) {
                    log( ui.item.value + " aka " + ui.item.id);
                    var canAddGame = ($(".queue-container").children("div.appended").length) == 0 ? true: false;
                    if(canAddGame) {
                        $(".queue-container").append('<div class="row queue-game appended">' +
                        '<div class="col-sm-5">' +
                        '<div class="row">' +
                        '<img class="col-sm-3 img-responsive" src="/KDSM/web/bundles/kdsmcontent/images/empty-user.jpg" alt="">' +
                        '<span class="col-sm-6 text-center">Dainius &amp; Jonas</span>' +
                        '<img class="col-sm-3 img-responsive" src="/KDSM/web/bundles/kdsmcontent/images/empty-user.jpg" alt="">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-2">' +
                        '<div class="row">' +
                        '<p>VS</p>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-5">' +
                        '<div class="row">' +
                        '<img class="col-sm-3 img-responsive" src="/KDSM/web/bundles/kdsmcontent/images/empty-user.jpg" alt="">' +
                        '<span class="col-sm-6 text-center">Rokas &amp; Tomas</span>' +
                        '<img class="col-sm-3 img-responsive" src="/KDSM/web/bundles/kdsmcontent/images/empty-user.jpg" alt="">' +
                        '</div>' +
                        '</div>' +
                        '</div>');
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(TableData, 2000);
            function TableData() {
                $.ajax({
                    type: "post",
                    url: "{{ path('ksdm_live_game') }}",
                    success: function (response_json) {
                        var response = $.parseJSON(response_json);
                        if (response.status == 'free') {
                            $("div.result-box").addClass("hidden");
                            $("div.table-free").removeClass("hidden");
                        }
                        else if (response.status == 'busy') {
                            $("span.result.white").text(response.scoreWhite);
                            $("span.result.black").text(response.scoreBlack);
                            $("div.result-box").removeClass("hidden");
                            $("div.table-free").addClass("hidden");
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}