{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kdsmcontent/css/bootstrap.css') }}" />
    {% stylesheets 'bundles/kdsmcontent/css/main.css' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    {# Fonts #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kdsmcontent/css/font-awesome.css') }}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300, 700, 900&amp;subset=latin,latin-ext">
{% endblock %}
{% block body %}
    <div class="container-fluid wallpaper full-screen">
        {% if not app.user %}
        {% block header %}
            <header class="row">
                <div class="container">
                    <img class="col-sm-3 logo" src="{{ asset('bundles/kdsmcontent/images/logotype.png') }}" alt=""/>
                    <div class="col-sm-7">
                        <div class="nav row">

                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% endif %}
        <div class="row">
            {% block sidebar %}
                {% if app.user %}
                     {{ include('KDSMContentBundle::Includes/sidebar.html.twig') }}
                {% endif %}
            {% endblock %}
            <main class=" {% if not app.user %} col-sm-12 main-content {% else %} col-sm-9 main-content {% endif %}">
                {% block content %}

                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {# jQuery include#}
    {% javascripts '@KDSMContentBundle/Resources/public/jquery.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {# Others js files includes#}
    {% javascripts '@KDSMContentBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(TableData, 2000);
            function TableData() {
                $.ajax({
                    type: "post",
                    url: "http://localhost/KDSM/web/content/live_game",
                    success: function (response_json) {
                        var response = $.parseJSON(response_json);
                        if (response.status == 'free') {
                            $("div.result-box").hide();
                        }
                        else if (response.status == 'busy') {
                            $("span.result.white").text(response.scoreWhite);
                            $("span.result.black").text(response.scoreBlack);
                            $("div.result-box").show();
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}